body
{
    background: none repeat scroll 0% 0% #615E76;
}

#navbar
{
    width: 1200px;
    margin: 0px auto;
}

#mainContainer
{
    width: 1200px;
    margin: 0px auto;
    margin-top: 41px;
}

.row
{
    margin-bottom: 5px;
}

.column
{
    padding-top: 10px;
}

.ui.segment
{
    background-color: #777491;
}

.ui.inverted.attached.segment, .ui.inverted.block.segment
{
    border-color: #3A3654;
}

.ui.inverted.black.segment, .ui.inverted.segment
{
    background-color: #3A3654 !important;
    color: #FFF !important;
    padding: 5px;
    padding-left: 14px;
}

.ui.segment.attached
{
    border: 1px solid #3A3654;
}

.ui.list .item a:hover
{
    color: #FFF !important;
    background: #E36E6E;
}

.ui.list .item a
{
    color: #36363F !important;
}

.ui.inverted.purple.menu, .ui.inverted.purple.pointing.menu .active.item::after
{
    background-color: #3A3654;
}

.ui.purple.label, .ui.purple.labels .label
{
    background-color: #4F4C69!important;
}

.ui.selection.list .list > .item, .ui.selection.list > .item
{
    color: #36363F;
}

.ui.message
{
    background: #BABABB;
}

#rightPage
{
    padding-top: 50%;
    padding-left: 0px;
    padding-right: 0px;
    cursor: pointer;
}

#leftPage
{
    padding-top: 50%;
    padding-left: 0px;
    padding-right: 0px;
    cursor: pointer;
}

#mangaTitle
{
}

#home
{
    cursor: pointer;
}

#tag
{
    cursor: pointer;
}

.coverImgPart
{
    cursor: pointer;
}

#indexPageLeft
{
    cursor: pointer;
}

#indexPageRight
{
    cursor: pointer;
}

#previewLeft
{
    cursor: pointer;
}

#previewRight
{
    cursor: pointer;
}

.galleryBox
{
    cursor: pointer;
}

#loadImgBox
{
    cursor: pointer;
    margin: 0px auto;
}

#loginId, #loginPassword
{
    border: 0px;
}

#operationDescription
{
    text-align: center;
    margin-top: 0px;
    color: #FFF;
}
